---
title: '___title__'
preheader: '___preheader__'
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component
      locals='{"center": "true", "title": "___headerTitle__", "subtitle": "___subtitle__", "pretitle": "___pretitle__", "hideContent": "false", "type": "success"}'
      src="src/components/card.html"
    >
      <table class="w-full">
        <tr>
          <td colspan="2">
            <p class="text-muted text-center">You can view the full report online in the NK Tools:</p>
          </td>
        </tr>

        <tr>
          <td class="pt-2 pb-6 pr-2 text-right" style="width: 50%;">
            <a href="___siteUrl__/inspection-reports/edit/___id__" rel="noreferrer noopener" target="_blank">
              <component src="src/components/button.html">View report</component>
            </a>
          </td>

          <td class="pt-2 pb-6 pl-2 text-left" style="width: 50%;">
            <a href="___pdfUrl__" rel="noreferrer noopener" target="_blank">
              <component src="src/components/button-outline.html">Download report</component>
            </a>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <p class="text-muted text-sm text-center">
              By clicking the link above, you will be redirected to the NK Tools application to view, modify, approve,
              or reject the report detailed above.
            </p>
          </td>
        </tr>
      </table>
    </component>
  </block>
</extends>
