---
title: '___title__'
preheader: '___preheader__'
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component
      locals='{"center": "true", "title": "___headerTitle__", "subtitle": "___subtitle__", "pretitle": "___pretitle__", "hideContent": "false", "type": "danger"}'
      src="src/components/card.html"
    >
      <table class="w-full">
        <tr>
          <td>
            <p class="text-muted text-sm">This Inspection Report was rejected for the following reason:</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="text-muted text-sm font-bold">___rejectedNote__</p>
          </td>
        </tr>

        <tr>
          <td class="pt-6">
            <component src="src/components/divider.html"></component>
          </td>
        </tr>

        <tr>
          <td>
            <p class="text-muted">You can view the full report online in the NK Tools:</p>
          </td>
        </tr>

        <tr>
          <td class="pt-2 pb-6">
            <a href="___siteUrl__/inspection-reports/edit/___id__" rel="noreferrer noopener" target="_blank">
              <component src="src/components/button.html">View report</component>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            <p class="text-muted text-sm">
              By clicking the link above, you will be redirected to the NK Tools application to view, modify, approve,
              or reject the report detailed above.
            </p>
          </td>
        </tr>
      </table>
    </component>
  </block>
</extends>
